<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Feeds</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="play-circle-outline"></ion-icon>
            <ion-label>Video</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>Find friend</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
            <ion-icon name="bag-outline"></ion-icon>
            <ion-label>Jobs</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab5">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            <ion-label>More</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
