<ion-content>
    <div class="piko_login">
        <div class="main_logo">
            <ion-row>
                <ion-col size="6">
                    <h3>
                        PIKO
                        <ion-icon name="wifi"></ion-icon>
                    </h3>
                </ion-col>
                <ion-col size="6">
                    <span>Login</span>
                </ion-col>
            </ion-row>
        </div>

        <div class="login_part">
            <div class="create_text">
                <h3>Create your profile</h3>
            </div>
            <form>
                <div class="login_card">
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-icon name="person-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-icon name="mail-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your password"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your password"></ion-input>
                    </ion-item>
                    <div class="sign_privacy">
                        <p>By clicking Sign Up, you agree to our <span>Terms of Use </span>, <span>Privacy Policy</span> and <span>Cookie Policy</span>.
                        </p>
                    </div>
                    <ion-button>Login</ion-button>
                </div>

                <div class="down_sign_part">
                    <ion-text>Already have an account? <span>Login</span></ion-text>
                </div>
            </form>
        </div>
    </div>
</ion-content>