<ion-content>
    <div class="piko_login">
        <div class="main_logo">
            <ion-row>
                <ion-col size="6">
                    <h3>
                        PIKO
                        <ion-icon name="wifi"></ion-icon>
                    </h3>
                </ion-col>
                <ion-col size="6">
                    <span>Sign up</span>
                </ion-col>
            </ion-row>
        </div>
        <div class="login_lgo_img">
            <!-- <ion-img src="https://bootstrap24.com/templates/auth/assets/img/login.svg">
            </ion-img> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="464" height="363" viewBox="0 0 464 363">
              <defs>
                <linearGradient id="login-a" x1="50.004%" x2="50.004%" y1="100%" y2="0%">
                  <stop offset="0%" stop-color="gray" stop-opacity=".25"/>
                  <stop offset="54%" stop-color="gray" stop-opacity=".12"/>
                  <stop offset="100%" stop-color="gray" stop-opacity=".1"/>
                </linearGradient>
                <linearGradient id="login-b" x1="50.006%" x2="50.006%" y1="99.997%" y2=".006%">
                  <stop offset="0%" stop-color="gray" stop-opacity=".25"/>
                  <stop offset="54%" stop-color="gray" stop-opacity=".12"/>
                  <stop offset="100%" stop-color="gray" stop-opacity=".1"/>
                </linearGradient>
                <linearGradient id="login-c" x1="-.016%" x2="100.035%" y1="49.987%" y2="49.987%">
                  <stop offset="0%" stop-color="gray" stop-opacity=".25"/>
                  <stop offset="54%" stop-color="gray" stop-opacity=".12"/>
                  <stop offset="100%" stop-color="gray" stop-opacity=".1"/>
                </linearGradient>
                <linearGradient id="login-d" x1="50%" x2="50%" y1="100%" y2="0%">
                  <stop offset="0%" stop-color="gray" stop-opacity=".25"/>
                  <stop offset="54%" stop-color="gray" stop-opacity=".12"/>
                  <stop offset="100%" stop-color="gray" stop-opacity=".1"/>
                </linearGradient>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <ellipse cx="196.5" cy="346" fill="#DBECF9" rx="83.5" ry="17"/>
                <ellipse cx="50.5" cy="335" fill="#DBECF9" rx="50.5" ry="17"/>
                <g fill="#008DEA" fill-rule="nonzero" opacity=".1" transform="translate(48)">
                  <path d="M408.061475,252.246393 C405.224262,259.084918 401.501803,265.640164 396.292131,270.668361 C389.944918,276.794262 382.061803,280.136066 373.620984,281.733934 C371.132773,282.197731 368.620699,282.522823 366.096393,282.707705 C359.426066,283.221148 352.596393,282.880328 346.045574,282.167705 C329.999991,280.415922 314.175266,277.029994 298.817705,272.062623 C296.294754,271.248197 293.786557,270.390984 291.293115,269.490984 C287.53082,268.142459 283.802459,266.695082 280.108033,265.148852 C265.058852,258.85918 249.500656,250.838852 233.490984,253.326393 C225.731803,254.534754 218.441803,258.195246 210.664918,259.284098 C205.206922,260.001163 199.660272,259.606694 194.358689,258.124426 C191.792064,257.437854 189.277523,256.569597 186.834098,255.52623 C181.326929,253.131814 176.086943,250.164664 171.200656,246.67377 C159.471148,238.476393 148.945574,228.31377 136.596393,221.214098 C122.981311,213.384098 107.91,209.661639 92.5554098,206.886393 C90.0560656,206.434918 87.5478689,206.004098 85.0308197,205.593934 C77.9267213,204.420984 70.804918,203.336557 63.784918,202.052951 C57.0216393,200.804754 50.1388525,199.277705 44.2519672,195.524262 C40.0514754,192.846393 36.5193443,189.137213 33.2793443,185.228852 C27.3025138,177.986601 22.1759096,170.082839 18,161.672459 C17.7786885,161.229836 17.5618033,160.787213 17.3493443,160.34459 C10.8472131,147.003934 6.47409836,132.459344 3.79180328,117.410164 C3.71213115,116.967541 3.63688525,116.524918 3.56163934,116.082295 C1.03868852,101.329672 0.118032787,86.0768852 0.396885246,70.9347541 L0.423442623,69.6068852 C0.596065574,62.1309836 1.06081967,54.6860656 1.75131148,47.347377 C2.24704918,42.1863934 2.91098361,36.8306557 5.58442623,32.4929508 C8.25786885,28.1552459 12.6132787,25.3711475 16.9509836,23.0518033 C36.1342623,12.8404918 54.507541,9.99885246 75.124918,14.947377 C78.4357377,15.7396721 81.7332787,16.5939344 85.0308197,17.4791803 C87.5404918,18.1519672 90.0501639,18.8468852 92.5554098,19.5462295 C109.875246,24.3752459 127.15082,29.5140984 145.054918,31.0544262 C146.784098,31.204918 148.514754,31.32 150.246885,31.3996721 C153.672787,31.5590164 157.098689,31.5944262 160.52459,31.5059016 C169.34957,31.2582148 178.143793,30.3527531 186.834098,28.7970492 C189.348197,28.3632787 191.856393,27.8822951 194.358689,27.3540984 C205.158689,25.1011475 215.861311,22.0957377 226.391311,18.7716393 C228.542459,18.0929508 230.690656,17.402459 232.835902,16.7001639 C237.669344,15.12 242.502787,13.5088525 247.345082,11.9419672 C261.801148,7.25459016 276.328033,2.97442623 291.293115,1.24819672 C292.57377,1.10360656 293.854426,0.975245902 295.135082,0.863114754 C296.361148,0.756885246 297.591639,0.672786885 298.817705,0.610819672 C322.033279,-0.62852459 345.514426,4.97065574 366.096393,16.4301639 C368.651803,17.8495082 371.16,19.3603279 373.620984,20.962623 C377.035082,23.1845902 380.344426,25.5747541 383.549016,28.1331148 C390.117541,33.3781967 396.265574,39.3491803 400.948525,46.5240984 C405.511967,53.5131148 408.473115,61.3608197 410.177213,69.6113115 C410.270164,70.0539344 410.358689,70.4965574 410.438361,70.9391803 C412.93918,84.2577049 412.160164,98.5411475 409.353934,111.88623 C409.057377,113.284918 408.743115,114.688033 408.415574,116.086721 C408.31377,116.529344 408.207541,116.971967 408.101311,117.41459 C405.07377,130.03377 401.205246,142.617541 402.214426,155.52 C402.342787,157.144426 402.546393,158.755574 402.811967,160.349016 C402.887213,160.791639 402.962459,161.234262 403.046557,161.676885 C405.020656,172.202459 409.508852,182.188033 412.2,192.611803 C417.251558,212.419434 415.800655,233.326415 408.061475,252.246393 Z"/>
                  <path d="M373.620984,70.9391803 L410.442787,70.9391803 C410.363115,70.4965574 410.27459,70.0539344 410.181639,69.6113115 L373.620984,69.6113115 L373.620984,20.962623 C371.16,19.3632787 368.651803,17.852459 366.096393,16.4301639 L366.096393,69.6113115 L298.817705,69.6113115 L298.817705,0.610819672 C297.591639,0.672786885 296.361148,0.756885246 295.135082,0.863114754 C293.909016,0.969344262 292.572295,1.10213115 291.293115,1.24819672 L291.293115,69.6113115 L195.243934,69.6113115 L195.01377,69.3590164 L247.345082,11.937541 C242.502787,13.5044262 237.669344,15.1155738 232.835902,16.6957377 L194.358689,58.917541 L194.358689,27.3496721 C191.853443,27.874918 189.345246,28.3559016 186.834098,28.792623 L186.834098,60.3737705 L160.52459,31.5014754 C157.098689,31.5840984 153.672787,31.5486885 150.246885,31.3952459 L184.842295,69.3590164 L184.612131,69.6113115 L92.5465574,69.6113115 L92.5465574,19.5462295 C90.0413115,18.8468852 87.5316393,18.1519672 85.0219672,17.4791803 L85.0219672,69.6113115 L0.414590164,69.6113115 L0.388032787,70.9391803 L85.0308197,70.9391803 L85.0308197,116.086721 L3.55278689,116.086721 C3.62803279,116.529344 3.70327869,116.971967 3.78295082,117.41459 L85.0308197,117.41459 L85.0308197,160.349016 L17.3404918,160.349016 C17.5529508,160.791639 17.7698361,161.234262 17.9911475,161.676885 L85.0308197,161.676885 L85.0308197,205.611639 C87.544918,206.024754 90.0531148,206.455574 92.5554098,206.904098 L92.5554098,161.676885 L186.834098,161.676885 L186.834098,255.512951 C189.277523,256.556319 191.792064,257.424575 194.358689,258.111148 L194.358689,161.676885 L291.293115,161.676885 L291.293115,269.486557 C293.789508,270.389508 296.297705,271.246721 298.817705,272.058197 L298.817705,161.676885 L366.096393,161.676885 L366.096393,282.703279 C368.620699,282.518397 371.132773,282.193305 373.620984,281.729508 L373.620984,161.676885 L403.046557,161.676885 C402.962459,161.234262 402.887213,160.791639 402.811967,160.349016 L373.598852,160.349016 L373.598852,117.41459 L408.07918,117.41459 C408.18541,116.971967 408.291639,116.529344 408.393443,116.086721 L373.620984,116.086721 L373.620984,70.9391803 Z M366.096393,70.9391803 L366.096393,116.086721 L298.817705,116.086721 L298.817705,70.9391803 L366.096393,70.9391803 Z M291.293115,116.086721 L194.358689,116.086721 L194.358689,70.9391803 L291.293115,70.9391803 L291.293115,116.086721 Z M92.5554098,70.9391803 L185.50623,70.9391803 L186.834098,72.147541 L186.834098,116.086721 L92.5554098,116.086721 L92.5554098,70.9391803 Z M92.5554098,160.349016 L92.5554098,117.41459 L186.834098,117.41459 L186.834098,160.349016 L92.5554098,160.349016 Z M194.358689,160.349016 L194.358689,117.41459 L291.293115,117.41459 L291.293115,160.349016 L194.358689,160.349016 Z M366.096393,160.349016 L298.817705,160.349016 L298.817705,117.41459 L366.096393,117.41459 L366.096393,160.349016 Z"/>
                  <path d="M333.749508 39.8493443L333.165246 39.8493443C333.583365 39.6079158 333.851384 39.1717612 333.877869 38.6896721 333.877869 37.7778689 332.758033 37.0298361 331.390328 37.0298361L313.950984 37.0298361C312.583279 37.0298361 311.459016 37.7778689 311.459016 38.6896721 311.459016 39.6059016 312.583279 40.3539344 313.950984 40.3539344L314.535246 40.3539344C314.117707 40.5959586 313.849902 41.0317658 313.822623 41.5136066 313.822623 42.292623 314.637049 42.9521311 315.725902 43.1291803L310.697705 43.1291803C309.325574 43.1291803 308.205738 43.8772131 308.205738 44.7890164 308.205738 45.7008197 309.325574 46.4532787 310.697705 46.4532787L328.141475 46.4532787C329.513607 46.4532787 330.633443 45.7052459 330.633443 44.7890164 330.633443 44.01 329.819016 43.354918 328.725738 43.1778689L333.749508 43.1778689C335.117213 43.1778689 336.237049 42.4298361 336.237049 41.5136066 336.237049 40.597377 335.117213 39.8493443 333.749508 39.8493443zM144.678689 55.6819672L144.094426 55.6819672C144.509684 55.4376102 144.776659 55.0031547 144.807049 54.5222951 144.807049 53.6060656 143.687213 52.8580328 142.315082 52.8580328L124.871311 52.8580328C123.49918 52.8580328 122.379344 53.6060656 122.379344 54.5222951 122.379344 55.4340984 123.49918 56.1821311 124.871311 56.1821311L125.451148 56.1821311C125.037023 56.4269689 124.771617 56.8615714 124.742951 57.3418033 124.742951 58.1252459 125.557377 58.7803279 126.64623 58.957377L121.626885 58.957377C120.254754 58.957377 119.134918 59.7054098 119.134918 60.6216393 119.134918 61.5378689 120.254754 62.2814754 121.626885 62.2814754L139.070656 62.2814754C140.442787 62.2814754 141.562623 61.5334426 141.562623 60.6216393 141.562623 59.8381967 140.74377 59.1831148 139.654918 59.0060656L144.678689 59.0060656C146.046393 59.0060656 147.16623 58.2580328 147.16623 57.3418033 147.16623 56.4255738 146.046393 55.6819672 144.678689 55.6819672zM360.510492 123.429836L359.92623 123.429836C360.341487 123.185479 360.608462 122.751024 360.638852 122.270164 360.638852 121.358361 359.519016 120.610328 358.146885 120.610328L340.703115 120.610328C339.330984 120.610328 338.211148 121.358361 338.211148 122.270164 338.211148 123.181967 339.330984 123.93 340.703115 123.93L341.282951 123.93C340.868259 124.174261 340.602648 124.609198 340.574754 125.089672 340.574754 125.868689 341.38918 126.528197 342.478033 126.705246L337.454262 126.705246C336.086557 126.705246 334.966721 127.453279 334.966721 128.365082 334.966721 129.276885 336.086557 130.029344 337.454262 130.029344L354.902459 130.029344C356.270164 130.029344 357.394426 129.281311 357.394426 128.365082 357.394426 127.586066 356.575574 126.930984 355.486721 126.753934L360.510492 126.753934C361.878197 126.753934 362.998033 126.005902 362.998033 125.089672 362.998033 124.173443 361.878197 123.429836 360.510492 123.429836z"/>
                </g>
                <g transform="translate(12 2)">
                  <path fill="url(#login-a)" fill-rule="nonzero" d="M25.4503087,5.47984 L25.4503087,0.42224 L0.167100331,0.42224 L0.167100331,23.8032 C0.167100331,26.5246825 2.37409464,28.73088 5.09656009,28.73088 L20.520849,28.73088 C23.2433144,28.73088 25.4503087,26.5246825 25.4503087,23.8032 L25.4503087,18.61104 C29.0815444,18.61104 32.0252426,15.6684047 32.0252426,12.03848 C32.0252426,8.40855534 29.0815444,5.46592 25.4503087,5.46592 L25.4503087,5.47984 Z M25.4503087,16.09616 L25.4503087,8.004 C26.9282056,7.95394864 28.3157797,8.71355094 29.0695613,9.98529429 C29.8233428,11.2570376 29.8233428,12.8384824 29.0695613,14.1102257 C28.3157797,15.3819691 26.9282056,16.1415714 25.4503087,16.09152 L25.4503087,16.09616 Z" opacity=".7" transform="translate(364.372 127.136)"/>
                  <path fill="#008DEA" fill-rule="nonzero" d="M389.028137,133.40464 C385.713497,133.40464 383.02645,136.090717 383.02645,139.40416 C383.02645,142.717603 385.713497,145.40368 389.028137,145.40368 C392.342777,145.40368 395.029824,142.717603 395.029824,139.40416 C395.029824,136.090717 392.342777,133.40464 389.028137,133.40464 Z M389.028137,143.0976 C386.977315,143.0976 385.314796,141.435681 385.314796,139.3856 C385.314796,137.335519 386.977315,135.6736 389.028137,135.6736 C391.078958,135.6736 392.741477,137.335519 392.741477,139.3856 C392.741477,141.435681 391.078958,143.0976 389.028137,143.0976 Z"/>
                  <path fill="#000" fill-rule="nonzero" d="M389.028137,133.40464 C385.713497,133.40464 383.02645,136.090717 383.02645,139.40416 C383.02645,142.717603 385.713497,145.40368 389.028137,145.40368 C392.342777,145.40368 395.029824,142.717603 395.029824,139.40416 C395.029824,136.090717 392.342777,133.40464 389.028137,133.40464 Z M389.028137,143.0976 C386.977315,143.0976 385.314796,141.435681 385.314796,139.3856 C385.314796,137.335519 386.977315,135.6736 389.028137,135.6736 C391.078958,135.6736 392.741477,137.335519 392.741477,139.3856 C392.741477,141.435681 391.078958,143.0976 389.028137,143.0976 Z" opacity=".1"/>
                  <path fill="#008DEA" fill-rule="nonzero" d="M365.921874,128.78784 L389.00957,128.78784 L389.00957,150.13184 C389.00957,152.630376 386.983375,154.65584 384.483936,154.65584 L370.447508,154.65584 C367.94807,154.65584 365.921874,152.630376 365.921874,150.13184 L365.921874,128.78784 Z"/>
                  <path fill="#000" fill-rule="nonzero" d="M384.850628,128.78784 L384.850628,150.13184 C384.850628,151.325526 384.376267,152.470322 383.531899,153.314386 C382.68753,154.15845 381.54232,154.63264 380.348203,154.63264 L382.669041,154.63264 C385.155662,154.63264 387.171466,152.617563 387.171466,150.13184 L387.171466,128.78784 L384.850628,128.78784 Z" opacity=".1"/>
                  <path fill="#EEE" fill-rule="nonzero" d="M370.461433,111.58272 C370.060598,111.595238 369.686219,111.785762 369.440265,112.1024 C369.138556,112.64992 369.686273,113.27168 370.187574,113.64752 C371.11591,114.34352 372.08602,115.03952 372.717288,116 C373.348556,116.96048 373.543506,118.32 372.856538,119.248 C371.960695,120.46368 369.81624,120.72816 369.607365,122.22224 C369.472756,123.18272 370.303616,124.004 371.148401,124.48656 C373.227872,125.67904 375.910761,125.99456 377.414664,127.85984 C378.036648,126.5792 379.433793,125.8368 380.821654,125.53984 C382.209515,125.24288 383.653076,125.24752 385.064146,125.03408 C385.535786,125.025486 385.974509,124.790664 386.243131,124.40304 C386.637674,123.60496 385.514388,122.64448 385.904289,121.8464 C386.201356,121.23392 387.064708,121.28496 387.695976,121.03904 C388.726428,120.64 389.14882,119.3176 388.856395,118.25504 C388.563969,117.19248 387.737751,116.35728 386.869757,115.6752 C384.54892,113.8192 381.717497,112.75664 378.87215,111.9632 C377.549272,111.60128 375.994311,111.0352 374.620375,110.97952 C373.246439,110.92384 371.788953,111.36 370.461433,111.58272 Z"/>
                  <path stroke="#FFF" stroke-width="3.84" d="M208.439096,160.08928 L160.165667,310.42528"/>
                  <path fill="url(#login-b)" fill-rule="nonzero" d="M154.400706,327.35664 C148.464002,327.7 143.172492,332.67408 143.172492,332.67408 L140.614928,326.3312 L140.406053,326.4008 C141.654664,320.93488 167.081764,208.21072 141.626814,198.49456 C122.071433,191.0288 101.327784,181.79056 85.0726351,182.13392 L85.0726351,155.49104 L107.858622,155.49104 L107.858622,154.56304 L125.896174,154.56304 C129.354223,152.09456 124.327288,150.38704 118.715502,149.33376 C118.944928,149.07191 119.147109,148.787405 119.31892,148.48464 L148.20871,96.66976 C148.20871,96.66976 154.85559,85.75648 150.580606,80.53648 C146.305623,75.31648 140.136836,93.82544 140.136836,93.82544 L116.403947,127.98976 C116.403947,127.98976 92.4250496,103.02192 77.2096362,90.60992 C75.5188069,88.9341576 73.6111519,87.492229 71.5375083,86.32256 C68.7525028,84.44336 66.6498236,83.46432 65.6100882,83.84944 L65.5822381,83.84944 C63.2723927,83.2096808 60.8866247,82.8850338 58.4897574,82.88432 L56.591312,82.88432 L56.591312,78.99136 C65.2034464,76.1487349 72.1000364,69.6169451 75.4040243,61.17376 C80.8298545,52.190284 81.8291577,41.2138916 78.114763,31.39888 C78.3978535,31.3647096 78.6702022,31.2697386 78.9131312,31.12048 C79.7718412,30.56832 79.8414664,29.35728 79.7764829,28.33648 C79.1434902,21.3956935 75.1288814,15.2127897 69.0449283,11.8088 C66.6405402,10.49568 63.8833848,9.58624 62.1102646,7.49824 C60.5877949,5.70256 59.9472437,3.19232 58.0998567,1.72608 C55.9089857,-0.01392 52.7433627,0.28304 50.0558324,1.06256 C47.0638137,1.92838109 44.2292245,3.26606222 41.6590408,5.02512 C38.7533517,7.01568 36.1261632,9.57232 32.7795149,10.67664 C30.4029768,11.4608 27.8222051,11.44224 25.4271003,12.18 C21.7015605,13.3588652 18.7542092,16.2311509 17.4805513,19.92416 C16.8746823,21.8738077 16.6447133,23.9207377 16.8028666,25.95616 C15.3465521,28.3882536 14.2004361,30.9929723 13.3912348,33.7096 L12.8528004,34.00192 L13.3726681,33.76992 C9.66832229,46.2686736 13.4029944,59.7853214 22.9995039,68.61168 C26.7165786,73.4490203 31.8027754,77.0573804 37.5975744,78.96816 L37.5975744,83.67776 C33.4632467,84.5691679 29.5190526,86.1839757 25.946968,88.44768 C25.946968,88.44768 25.6452591,88.63328 25.1253914,88.98592 L24.9675744,89.09264 C21.4538258,91.4776 9.68253583,100.18224 10.08172,109.59216 C10.08172,109.95408 10.08172,110.317547 10.08172,110.68256 C9.43912846,113.401305 9.1135909,116.185281 9.1116097,118.97888 L9.1116097,187.2936 C9.09945392,194.838368 11.6325573,202.166839 16.3015656,208.09472 C6.39622933,210.31264 0.0835501654,213.66272 0.0835501654,217.42576 C0.131072237,217.733269 0.131072237,218.046251 0.0835501654,218.35376 C0.0835501654,225.03536 20.0427563,230.45488 44.7039802,230.45488 C47.6839361,230.45488 50.5942668,230.376 53.4117641,230.22288 L81.2618192,252.75472 L36.6553142,324.43344 C36.6553142,324.43344 21.9412018,335.82 33.3318743,339.62016 C44.7225469,343.42032 67.9866262,346.26464 67.9866262,346.26464 C67.9866262,346.26464 71.7835171,339.62016 66.5616318,336.77584 C61.3397464,333.93152 54.2194157,335.35136 54.2194157,335.35136 L55.1477508,329.65808 C55.1477508,329.65808 132.524487,263.22256 116.38538,240.44944 C113.298666,236.09248 110.211951,231.59632 107.102029,227.16976 L119.281786,228.27872 L122.066792,332.56736 L122.414917,332.456 C121.718666,334.50688 116.79849,349.96736 127.706428,347.3504 C139.384884,344.5664 160.629835,334.66928 160.629835,334.66928 C160.629835,334.66928 160.337409,327.01328 154.400706,327.35664 Z M107.858622,147.90928 L85.0726351,141.29728 L85.0726351,121.80928 L109.835976,148.06704 C108.619857,147.9696 107.858622,147.90928 107.858622,147.90928 Z" opacity=".7" transform="translate(91.441)"/>
                  <ellipse cx="138.35" cy="46.409" fill="#000" fill-rule="nonzero" rx="33.42" ry="33.408"/>
                  <path fill="#008DEA" fill-rule="nonzero" d="M176.411533,122.96928 L201.917541,150.0344 C203.006009,151.191261 204.581284,151.759612 206.157954,151.564318 C207.734625,151.369025 209.123491,150.433522 209.896582,149.04608 L238.145821,98.38192 L230.254972,95.59792 L207.046593,129.00592 C207.046593,129.00592 163.475182,83.60816 157.380662,85.85392 C151.286141,88.09968 176.411533,122.96928 176.411533,122.96928 Z"/>
                  <path stroke="#DBDBDB" stroke-width="2.4" d="M127.673936 216.69728L90.0763616 314.13728M146.240639 216.69728L183.838214 314.13728"/>
                  <ellipse cx="136.957" cy="217.393" fill="#B84733" fill-rule="nonzero" rx="43.632" ry="11.832"/>
                  <ellipse cx="136.957" cy="216.465" fill="#F55F44" fill-rule="nonzero" rx="43.632" ry="11.832"/>
                  <path stroke="#DBDBDB" stroke-width="2.4" d="M118.594818 238.1016L159.761841 250.78272M155.315116 238.1016L114.148093 250.78272"/>
                  <path fill="#008DEA" fill-rule="nonzero" d="M137.46323,84.912 L150.418148,84.912 C164.773898,84.912 176.411533,96.5454331 176.411533,110.896 L176.411533,179.568 L102.144718,179.568 L102.144719,120.22704 C102.142256,110.861763 105.862216,101.87922 112.485989,95.2560984 C119.109761,88.6329768 128.09457,84.9119997 137.46323,84.912 Z"/>
                  <path fill="#39447A" fill-rule="nonzero" d="M102.144719,179.568 L176.411533,179.568 L176.411533,219.936 L135.100617,219.936 C116.899577,219.936 102.144719,205.186469 102.144719,186.992 L102.144719,179.568 Z"/>
                  <path fill="#000" fill-rule="nonzero" d="M103.147321,112.77984 L148.561477,155.93184 L198.691577,155.93184 L198.691577,149.43584 L155.523991,136.90784 L118.59946,91.32448 C118.59946,91.32448 101.829085,101.66704 103.147321,112.77984 Z" opacity=".05"/>
                  <path fill="#008DEA" fill-rule="nonzero" d="M103.147321,111.85184 L148.561477,155.00384 L198.691577,155.00384 L198.691577,148.50784 L155.523991,135.97984 L118.59946,90.39648 C118.59946,90.39648 101.829085,100.73904 103.147321,111.85184 Z"/>
                  <path fill="#FDA57D" fill-rule="nonzero" d="M198.691577 148.48928C198.691577 148.48928 222.828291 150.34528 216.329945 154.98528L198.691577 154.98528 198.691577 148.48928zM230.254972 95.59328C230.254972 95.59328 236.289151 77.49728 240.466659 82.60128 244.644168 87.70528 238.145821 98.37728 238.145821 98.37728L230.254972 95.59328z"/>
                  <polygon fill="#000" fill-rule="nonzero" points="102.145 179.577 102.145 181.74 176.412 181.897 176.412 179.577" opacity=".05"/>
                  <path fill="#39447A" fill-rule="nonzero" d="M159.915017,222.51584 L209.859449,227.06768 L212.579471,329.02704 L230.463848,323.20848 C230.463848,323.20848 257.213826,207.67248 231.707817,197.92848 C206.201808,188.18448 178.630254,175.36416 162.170871,185.81808 C145.711488,196.272 159.915017,222.51584 159.915017,222.51584 Z"/>
                  <path fill="#000" fill-rule="nonzero" d="M162.950673,191.17728 C162.950673,191.17728 190.33656,205.09728 194.049901,220.87328" opacity=".1"/>
                  <path fill="#39447A" fill-rule="nonzero" d="M133.708115,219.48128 L172.698192,251.03328 L129.066439,321.09728 L147.168975,326.20128 C147.168975,326.20128 222.828291,261.24128 207.046593,238.96928 C191.264895,216.69728 175.483197,190.71328 155.988159,190.24928 C136.49312,189.78528 133.708115,219.48128 133.708115,219.48128 Z"/>
                  <polygon fill="#000" fill-rule="nonzero" points="194.978 116.937 204.726 133.641 207.047 129.001" opacity=".05"/>
                  <path fill="#333" fill-rule="nonzero" d="M129.066439 321.09728C129.066439 321.09728 114.677244 332.23328 125.817266 335.94528 136.957288 339.65728 159.701499 342.44128 159.701499 342.44128 159.701499 342.44128 163.41484 335.94528 158.308997 333.16128 153.203153 330.37728 146.240639 331.76928 146.240639 331.76928L147.168975 326.20128 129.066439 321.09728zM212.997222 328.71152C212.997222 328.71152 206.675259 346.23216 218.103065 343.49456 229.530871 340.75696 250.297729 331.09184 250.297729 331.09184 250.297729 331.09184 250.014587 323.6168 244.20785 323.95088 238.401114 324.28496 233.230287 329.14768 233.230287 329.14768L230.728423 322.944 212.997222 328.71152z"/>
                  <rect width="18.567" height="27.84" x="129.995" y="68.681" fill="#FDA57D" fill-rule="nonzero" rx="9.283"/>
                  <path fill="#000" fill-rule="nonzero" d="M139.278126,69.60928 C134.151072,69.60928 129.994774,73.7640775 129.994774,78.88928 L129.994774,82.04448 C136.024718,84.0274696 142.531534,84.0274696 148.561477,82.04448 L148.561477,78.88928 C148.561477,76.428071 147.583413,74.0676667 145.842447,72.3273291 C144.10148,70.5869915 141.740224,69.60928 139.278126,69.60928 Z" opacity=".05"/>
                  <ellipse cx="139.278" cy="52.905" fill="#FDA57D" fill-rule="nonzero" rx="29.707" ry="29.696"/>
                  <path fill="#000" fill-rule="nonzero" d="M109.5714,51.55504 C109.5714,51.55504 116.998082,53.46672 121.17559,45.0312 C125.353098,36.59568 128.602271,31.9928 145.776472,36.97616 C162.950673,41.95952 166.404079,42.572 167.230298,37.85776 C167.796582,34.6376 161.688137,26.80992 157.761279,22.1792 C155.848908,19.91952 152.725061,18.56928 149.406262,18.56928 L129.994774,18.56928 L118.390584,23.93776 L109.5714,31.60768 L107.71473,41.96416 L109.5714,51.55504 Z" opacity=".05"/>
                  <path fill="#000" fill-rule="nonzero" d="M109.5714,50.62704 C109.5714,50.62704 116.998082,52.53872 121.17559,44.1032 C125.353098,35.66768 128.602271,31.0648 145.776472,36.04816 C162.950673,41.03152 166.404079,41.644 167.230298,36.92976 C167.796582,33.7096 161.688137,25.88192 157.761279,21.2512 C155.848908,18.99152 152.725061,17.64128 149.406262,17.64128 L129.994774,17.64128 L118.390584,23.00976 L109.5714,30.67968 L107.71473,41.03616 L109.5714,50.62704 Z"/>
                  <ellipse cx="112.588" cy="50.585" fill="#FDA57D" fill-rule="nonzero" rx="3.017" ry="6.032"/>
                  <path fill="#000" fill-rule="nonzero" d="M110.43011,35.06448 C109.743142,31.1808 109.065458,27.10224 110.31871,23.3624 C111.563427,19.7508914 114.445607,16.9420379 118.088875,15.78992 C120.409713,15.07072 122.953352,15.08464 125.278831,14.31904 C128.551213,13.24256 131.11806,10.7416 133.963407,8.7928 C136.476772,7.07278907 139.248689,5.7648668 142.174531,4.9184 C144.80172,4.15744 147.897718,3.86512 150.042172,5.568 C151.843142,7.00176 152.469768,9.45632 153.959746,11.21024 C155.695733,13.25184 158.387905,14.13808 160.741235,15.42336 C166.69283,18.7568297 170.616179,24.8107375 171.226781,31.60304 C171.305689,32.60064 171.226781,33.78384 170.381996,34.32208 C169.859653,34.5885966 169.270763,34.6966552 168.687784,34.63296 C156.814377,34.46128 144.927045,34.29424 133.104697,33.20384 C129.42849,32.86512 125.747641,32.43824 122.057508,32.57744 C116.355719,32.8033813 110.788512,34.375947 105.811643,37.1664"/>
                  <path fill="url(#login-c)" fill-rule="nonzero" d="M80.7651599,53.01664 C82.331561,46.6922245 79.8475421,40.0558184 74.5128225,36.31264 C73.1203197,35.38464 71.5978501,34.67472 70.3353142,33.60288 C68.21871,31.82112 67.0072326,29.19024 66.1345976,26.55936 C64.0365601,20.25824 63.3728004,13.19152 59.6919515,7.49824 C56.3406615,2.31536 49.8191069,0.79808 44.0309372,0.28304 C41.9236163,0.0928 39.7095369,-0.00464 37.7832415,0.86768 C34.5572767,2.32464 33.020882,6.13408 32.8769901,9.68368 C32.7330981,13.23328 33.6521499,16.70864 33.8842337,20.23504 C34.1163175,23.76144 33.4850496,27.65904 30.8764278,30.044 C28.267806,32.42896 24.5405402,32.72128 21.0824917,33.1992 C16.5551968,33.8267724 12.1069587,34.9310427 7.81194046,36.4936 C4.20535832,37.80672 0.19030871,40.17312 0.0185667034,44.00576 C-0.120683572,47.13776 2.40902977,49.63872 4.30747519,52.1304 C7.85835722,56.7704 9.6314774,62.93696 8.42928335,68.66736 C7.20388093,74.49984 3.10528115,79.5064 2.35797133,85.4224 C2.16766262,86.92576 2.22336273,88.52192 2.95210584,89.84896 C3.53073243,90.7831873 4.29352538,91.5899087 5.19403528,92.22 C7.42203969,93.94144 9.90997795,95.32416 12.0172988,97.18944 C16.4129658,101.0824 18.7941455,106.72928 20.6276075,112.30656 C20.8039912,112.8448 20.9618082,113.38768 21.1289085,113.92592 L16.8075083,113.92592 C7.99186694,113.951404 0.85171193,121.088982 0.826218302,129.90144 C0.85171193,138.713898 7.99186694,145.851476 16.8075083,145.87696 L59.9750937,145.87696 C68.790735,145.851476 75.9308901,138.713898 75.9563837,129.90144 C75.9461404,121.061838 68.7761186,113.900634 59.9333186,113.89808 L48.1156119,113.89808 C50.9006174,110.1536 53.8341566,106.63648 58.1509151,105.19344 C62.4676736,103.7504 67.689559,104.59952 71.0779824,101.58816 C72.730419,100.12192 73.6076957,97.9504 74.0115215,95.77888 C74.7269071,91.8456263 74.0577274,87.7860905 72.1177178,84.29024 C70.7577067,81.86352 68.7710695,79.65024 68.3393936,76.91264 C67.9727012,74.5648 68.8035612,72.18448 69.9686218,70.10112 C73.23172,64.16656 79.0059647,59.55904 80.7651599,53.01664 Z" opacity=".7" transform="translate(0 187.92)"/>
                  <path fill="#4DB6AC" fill-rule="nonzero" d="M43.8591951,191.65984 C41.8539912,191.47888 39.7466703,191.38608 37.9085667,192.21664 C34.840419,193.60864 33.3736494,197.23248 33.2343991,200.59648 C33.0951488,203.96048 33.9724256,207.28272 34.1905843,210.64672 C34.4087431,214.01072 33.8099669,217.7088 31.3266703,219.98704 C28.8433738,222.26528 25.2924917,222.5344 22.0015436,222.98912 C17.6896043,223.586281 13.452943,224.637676 9.3622602,226.12576 C5.92742007,227.37392 2.10267916,229.6336 1.93557883,233.28064 C1.80561191,236.26416 4.21,238.64448 6.02025358,241.01552 C9.40403528,245.456 11.0889636,251.30704 9.94246968,256.76368 C8.77276736,262.33168 4.86911797,267.08768 4.16358324,272.72064 C3.98255788,274.14976 4.03361632,275.67168 4.7298677,276.93376 C5.28068001,277.82413 6.00717679,278.592991 6.86503859,279.19344 C8.98628445,280.83136 11.3535391,282.14912 13.3633848,283.92624 C17.5408931,287.63824 19.8153142,293.01136 21.5605843,298.31024 C23.2773817,303.535413 24.6221839,308.875466 25.5849173,314.2904 C29.1914994,311.9704 33.851742,312.00752 37.6996913,310.1144 C45.8922492,306.1008 48.6494046,294.46368 57.3014884,291.5544 C61.3954465,290.1856 66.3852481,290.98832 69.6112128,288.1208 C71.1847409,286.7288 72.0202426,284.65936 72.3962183,282.58992 C73.0770998,278.853494 72.4458124,274.996655 70.6091731,271.672 C69.3141455,269.352 67.4203418,267.264 67.0072326,264.64704 C66.6544653,262.41056 67.4714002,260.14624 68.5575524,258.15104 C71.6674752,252.49952 77.1678611,248.11472 78.8435061,241.8832 C80.3438767,235.854703 77.9767442,229.524956 72.8882359,225.95872 C71.5746417,225.07248 70.1032304,224.39968 68.8963947,223.37888 C66.8772657,221.68064 65.7307718,219.17504 64.8952701,216.67408 C62.8947078,210.67456 62.2634399,203.94192 58.7589746,198.5224 C55.5794267,193.59472 49.3688644,192.14704 43.8591951,191.65984 Z"/>
                  <path stroke="#535461" stroke-width=".5" d="M43.7988534,191.864 C43.7988534,191.864 51.4112018,293.76304 31.6190959,311.27904" opacity=".6"/>
                  <rect width="71.524" height="30.424" x="2.715" y="299.869" fill="#008DEA" fill-rule="nonzero" rx="15.212"/>
                  <path stroke="#535461" stroke-width=".5" d="M1.95414553 231.41536C1.95414553 231.41536 21.407409 229.1464 45.1588644 243.59072M44.778247 255.75216C44.778247 255.75216 55.58871 237.87888 78.7970893 234.4592M3.85723264 272.88304C3.85723264 272.88304 30.8207277 268.31264 43.2093605 275.92224M41.6729658 286.36224C41.6729658 286.36224 55.7883021 279.95904 71.6674752 285.16048" opacity=".6"/>
                  <path fill="url(#login-d)" fill-rule="nonzero" d="M270.015568,191.25616 C270.400097,191.25616 270.711819,190.94455 270.711819,190.56016 C270.711819,190.17577 270.400097,189.86416 270.015568,189.86416 C269.631039,189.86416 269.319316,190.17577 269.319316,190.56016 C269.319316,190.94455 269.631039,191.25616 270.015568,191.25616 Z"/>
                  <path stroke="#FFF" stroke-width="3.84" d="M372.178853,160.08928 L420.452282,331.81104"/>
                  <rect width="260.681" height="10.152" x="159.966" y="155.06" fill="#FFF" fill-rule="nonzero"/>
                  <rect width="42.703" height="6.032" x="224.221" y="152.665" fill="#535461" fill-rule="nonzero" rx="3.016"/>
                  <rect width="106.137" height="73.358" x=".028" y=".037" fill="url(#login-d)" fill-rule="nonzero" opacity=".7" rx="13.546" transform="translate(250.186 85.376)"/>
                  <rect width="100.543" height="72.004" x="252.103" y="86.763" fill="#3E3F49" fill-rule="nonzero" rx="12.883"/>
                  <rect width="100.543" height="72.004" x="253.496" y="86.763" fill="#535461" fill-rule="nonzero" rx="12.883"/>
                  <ellipse cx="308.467" cy="122.273" fill="#E0E0E0" fill-rule="nonzero" rx="3.249" ry="3.248"/>
                </g>
              </g>
            </svg>
        </div>

        <div class="login_part">

            <form>
                <div class="login_card">
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-icon name="mail-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                        <ion-input type="text" autocomplete="off" placeholder="Enter your password"></ion-input>
                    </ion-item>
                    <ion-button>Login</ion-button>
                </div>
                <div class="or_pik_text">
                    <p>Or connect using</p>
                </div>
                <div class="other_login_part">
                    <div class="pd_loh">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"
                            class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m512 256c0 127.78-93.62 233.69-216 252.89v-178.89h59.65l11.35-74h-71v-48.02c0-20.25 9.92-39.98 41.72-39.98h32.28v-63s-29.3-5-57.31-5c-58.47 0-96.69 35.44-96.69 99.6v56.4h-65v74h65v178.89c-122.38-19.2-216-125.11-216-252.89 0-141.38 114.62-256 256-256s256 114.62 256 256z" fill="#1877f2" data-original="#1877f2" class=""></path><path d="m355.65 330 11.35-74h-71v-48.021c0-20.245 9.918-39.979 41.719-39.979h32.281v-63s-29.296-5-57.305-5c-58.476 0-96.695 35.44-96.695 99.6v56.4h-65v74h65v178.889c13.034 2.045 26.392 3.111 40 3.111s26.966-1.066 40-3.111v-178.889z" fill="#ffffff" data-original="#ffffff"></path></g></g></svg>
                        <ion-text>Login with facebook</ion-text>
                    </div>
                    <div class="pd_loh">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"
                            class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m120 256c0-25.367 6.989-49.13 19.131-69.477v-86.308h-86.308c-34.255 44.488-52.823 98.707-52.823 155.785s18.568 111.297 52.823 155.785h86.308v-86.308c-12.142-20.347-19.131-44.11-19.131-69.477z" fill="#fbbd00" data-original="#fbbd00"></path><path d="m256 392-60 60 60 60c57.079 0 111.297-18.568 155.785-52.823v-86.216h-86.216c-20.525 12.186-44.388 19.039-69.569 19.039z" fill="#0f9d58" data-original="#0f9d58"></path><path d="m139.131 325.477-86.308 86.308c6.782 8.808 14.167 17.243 22.158 25.235 48.352 48.351 112.639 74.98 181.019 74.98v-120c-49.624 0-93.117-26.72-116.869-66.523z" fill="#31aa52" data-original="#31aa52"></path><path d="m512 256c0-15.575-1.41-31.179-4.192-46.377l-2.251-12.299h-249.557v120h121.452c-11.794 23.461-29.928 42.602-51.884 55.638l86.216 86.216c8.808-6.782 17.243-14.167 25.235-22.158 48.352-48.353 74.981-112.64 74.981-181.02z" fill="#3c79e6" data-original="#3c79e6"></path><path d="m352.167 159.833 10.606 10.606 84.853-84.852-10.606-10.606c-48.352-48.352-112.639-74.981-181.02-74.981l-60 60 60 60c36.326 0 70.479 14.146 96.167 39.833z" fill="#cf2d48" data-original="#cf2d48"></path><path d="m256 120v-120c-68.38 0-132.667 26.629-181.02 74.98-7.991 7.991-15.376 16.426-22.158 25.235l86.308 86.308c23.753-39.803 67.246-66.523 116.87-66.523z" fill="#eb4132" data-original="#eb4132"></path></g></g></svg>
                        <ion-text>Login with google</ion-text>
                    </div>
                </div>
                <div class="down_sign_part">
                    <ion-text>Don't have an account? <span>Sign up</span></ion-text>
                </div>
            </form>
        </div>
    </div>
</ion-content>