.find_friend_section {
    margin-right: 5px;
    margin-left: 5px;
    .video_search {
        ion-searchbar {
            --background: #1f1f1f;
        }
    }
    .top_list_show {
        margin-left: 0px;
        overflow: auto;
        white-space: nowrap;
        padding-top: 8px;
        margin-right: 0px;
        .fnd_card {
            width: 140px;
            display: inline-block;
            margin-right: 4px;
            .card1 {
                background: #226874 !important;
            }
            .card2 {
                background: #224a74 !important;
            }
            .card3 {
                background: #742257 !important;
            }
            .card4 {
                background: #227465 !important;
            }
            .card5 {
                background: #746e22 !important;
            }
            ion-card {
                margin: 0px 0px 0px 5px;
                padding: 18px 5px 18px 10px;
                color: #fff;
                .count_part {
                    h3 {
                        font-size: 20px;
                        font-weight: bold;
                        margin-top: 0px;
                        margin-bottom: 15px;
                    }
                }
                .icon_fg {
                    ion-icon {
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                    p {
                        margin-bottom: 0px;
                        font-size: 12px;
                        color: #ddd;
                    }
                }
            }
        }
    }
    .follow_list {
        .card_frnd {
            ion-card {
                text-align: center;
                margin: 0px;
                padding: 20px 0px 16px 0px;
                .user_img_follw {
                    margin-bottom: 16px;
                    ion-img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        border: 2px solid #ddd;
                        border-radius: 50%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    ion-img::part(image) {
                        border-radius: 50%;
                    }
                }
                .user_text_flw {
                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        margin-bottom: 3px;
                        margin-top: 2px;
                    }
                    p {
                        font-size: 12px;
                        color: #ddd;
                        margin-bottom: 2px;
                        margin-top: 0px;
                    }
                    span {
                        font-size: 10px;
                        color: #ddd;
                    }
                }
                .follw_btn {
                    margin-top: 10px;
                    ion-button {
                        font-size: 14px;
                        text-transform: capitalize;
                        width: 85%;
                    }
                }
            }
        }
        .people_fl_heading {
            margin-left: 10px;
            h3 {
                font-size: 18px;
                font-weight: bold;
                margin-top: 8px;
                margin-bottom: 15px;
            }
        }
    }
    .chip_video_list {
        .category_list {
            margin-left: 0px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 0px;
            margin-bottom: 5px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
}
