.video_details {
    .watch_videos {
        ion-card {
            padding: 10px;
            .view_video {
                video {
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
        .video_view_details {
            padding-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            h3 {
                font-size: 13px;
                color: #fff;
                margin-top: 0px;
                font-weight: bold;
                margin-bottom: 5px;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 18px;
            }
            p {
                font-size: 10px;
                margin-top: 0px;
                margin-bottom: 3px;
                color: #ddd;
            }
            span {
                font-size: 10px;
            }
            .right_fl_report {
                ion-icon {
                    font-size: 18px;
                    margin-top: 4px;
                }
            }
        }
        .video_like_cm {
            padding-top: 16px;
            .likes_ol {
                margin-left: 6px;
            }
            .likes_cm_piko {
                padding-bottom: 15px;
                border-top: 1px solid #393939;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 8px;
                ion-label {
                    position: relative;
                    top: 6px;
                    ion-icon {
                        margin-right: 6px;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                    }
                }
                span {
                    font-size: 12px;
                    color: #ddd;
                }
                .right_share {
                    float: right;
                }
            }
            .likes_ol {
                ion-chip {
                    font-size: 12px;
                }
            }
            .video_description {
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 15px;
                    margin-bottom: 20px;
                }
                ion-card {
                    p {
                        font-size: 13px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .video_detail_sug {
        .heading_suggest_video {
            margin-left: 15px;
            h3 {
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 12px;
                margin-top: 20px;
            }
        }
        .sug_list_videos {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 0px;
            margin-bottom: 16px;
            .suggest_videos {
                margin-right: 10px;
                display: inline-block;
                width: 150px;
                ion-card {
                    padding: 10px;
                    margin: 0px;
                    .video_img {
                        ion-img {
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            height: 110px;
                        }
                        ion-img::part(image) {
                            border-radius: 5px;
                        }
                    }
                    .video_heading {
                        padding-top: 10px;
                        h3 {
                            font-size: 13px;
                            color: #fff;
                            margin-top: 0px;
                            font-weight: bold;
                            margin-bottom: 5px;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                            line-height: 18px;
                        }
                        p {
                            font-size: 12px;
                            margin-top: 0px;
                            margin-bottom: 3px;
                        }
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
