<app-common-header></app-common-header>

<ion-content [fullscreen]="true">
    <div class="more_prt_section">
        <div class="profile_fst">
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>Profile info</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="list-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>My activity</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="wallet-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>My rewards</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

            <ion-card class="margin_biz ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="business-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>My business</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>

            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="play-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>My videos</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>Latest news</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="bag-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>My jobs</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>

            <ion-card class="margin_biz ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>Likes videos</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>
            <ion-card class="ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="help-buoy-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>Help Support</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>
            <ion-card class="margin_biz ion-activatable">
                <ion-row>
                    <ion-col size="1">
                        <div class="profile_icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col size="10">
                        <div class="profile_text_more">
                            <h4>Settings</h4>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <div class="rgm_info">
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-ripple-effect></ion-ripple-effect>

            </ion-card>
            <!-- <div class="var_heading">
                <h3>Piko</h3>
                <span>var 0.1.10</span>
            </div> -->
        </div>
    </div>
</ion-content>
