.piko_video_list {
    .video_search {
        ion-searchbar {
            --background: #1f1f1f;
        }
    }
    .chip_video_list {
        .category_list {
            margin-left: 10px;
            overflow: auto;
            white-space: nowrap;
            padding-top: 8px;
            margin-right: 10px;
        }
        .active {
            background: linear-gradient( -45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        }
    }
    .video_list_user {
        ion-card {
            padding: 12px;
            .video_img {
                ion-img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                ion-img::part(image) {
                    border-radius: 5px;
                }
            }
            .video_heading {
                padding-top: 10px;
                h3 {
                    font-size: 13px;
                    color: #fff;
                    margin-top: 0px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    line-height: 18px;
                }
                p {
                    font-size: 12px;
                    margin-top: 0px;
                    margin-bottom: 3px;
                }
                span {
                    font-size: 10px;
                }
            }
        }
    }
}
