<app-common-header></app-common-header>

<ion-content [fullscreen]="true">
    <div class="piko_video_list">
        <div class="video_search">
            <ion-searchbar showCancelButton="always"></ion-searchbar>
        </div>
        <div class="chip_video_list">
            <div class="category_list">
                <ion-chip>All</ion-chip>
                <ion-chip class="active">Latest song</ion-chip>
                <ion-chip>Android</ion-chip>
                <ion-chip>Computers</ion-chip>
                <ion-chip>Cryptocurrency</ion-chip>
                <ion-chip>Scene</ion-chip>
            </div>
            <div class="video_list_user">
                <ion-card class="ion-activatable" (click)="navController.navigateForward('job-card-list')">
                    <div class="video_img">
                        <ion-img src="https://i.ytimg.com/vi/Oozz4APJpiM/maxresdefault.jpg"></ion-img>
                    </div>
                    <div class="video_heading">
                        <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                        <p>Sumanta Dutta</p>
                        <span>1M views | 6 month ago</span>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>

                <ion-card class="ion-activatable">
                    <div class="video_img">
                        <ion-img src="https://static.toiimg.com/photo/msid-81431598/81431598.jpg"></ion-img>
                    </div>
                    <div class="video_heading">
                        <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                        <p>Sumanta Dutta</p>
                        <span>1M views | 6 month ago</span>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>
                <ion-card class="ion-activatable">
                    <div class="video_img">
                        <ion-img src="https://english.cdn.zeenews.com/sites/default/files/styles/zm_700x400/public/2019/03/20/771469-ranbir-deepika-holi.jpg"></ion-img>
                    </div>
                    <div class="video_heading">
                        <h3>Dhamaal | Superhit Comedy Movie | Arshad Warsi - Vijay Raaz - Asrani -Javed Jaffery | Comedy</h3>
                        <p>Sumanta Dutta</p>
                        <span>1M views | 6 month ago</span>
                    </div>
                    <ion-ripple-effect></ion-ripple-effect>

                </ion-card>
            </div>
        </div>
    </div>





    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>